{{CSS "static/css/libs.min.css" "all"}}
{{CSS "static/css/fa-svg-with-js.css" "all"}}
{{CSS "static/css/core.css" "all"}}
{{CSS "static/css/page.css" "all"}}

<link href="https://fonts.googleapis.com/css?family=Oswald|Sedgwick+Ave+Display" rel="stylesheet">
