<meta name="msapplication-TileColor" content="#525252">
<meta name="msapplication-TileImage" content="/static/favicon/mstile-144x144.png?v1.0=3eepn6WlLO">
<meta name="msapplication-config" content="/static/favicon/browserconfig.xml?v1.0=3eepn6WlLO">
<meta name="theme-color" content="#525252">
<link rel="shortcut icon" href="static/favicon.ico">